.profile {
  margin-top: 120px;

  display: flex;
}

.profile__form {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  width: 480px;
}

.form div {
  width: 100%;
  text-align: right;
}

.profile__buttons-container {
  display: flex;
  justify-content: space-between;
}

.profile__cansel {
  border: none;
  background-color: inherit;

  color: #9539ec;
  cursor: pointer;
  transition: all .3s;
}

.profile__cansel:hover {
  opacity: .7;
}
