.burger-ingredients {
  max-width: 600px;
  box-sizing: border-box;
}

.burger-ingredients__ingridients-list {
  list-style-type: none;

  margin: 0;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 24px;
  row-gap: 32px;

  box-sizing: border-box;
}

.burger-ingredients__list-elem {
  position: relative;

  cursor: pointer;
}

.burger-ingredients__container {
  overflow-y: auto;
  max-height: calc(100vh - 284px);
}

.burger-ingredients__link {
  text-decoration: none;
  color: #F2F2F3;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #2F2F37;;
}

::-webkit-scrollbar-thumb {
  background-color: #8585AD;
}
