.orderDscr {
  width: 720px;
  max-height: 720px;
  box-sizing: border-box;

  padding-top: 52px;
}

.orderDscr__number {
  text-align: center;
}

.orderDscr__status {
  color: #00CCCC;
}

.orderDscr__list {
  padding: 0;
  margin: 0 0 40px;
  list-style-type: none;

  max-height: 260px;

  overflow-y: auto;
}

.orderDscr__image {
  width: 64px;
  height: 64px;
  object-fit: cover;
}

.orderDscr__ingr-heading {
  max-width: 320px;
  margin-top: 16px;
}

.orderDscr__text-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.orderDscr__footer-container {
  display: flex;
  justify-content: space-between;
}

.orderDscr__date {
  display: inline;
}

.orderDscr__flex-container {
  display: flex;
}
