.reset-password {
  width: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.reset-password__form {
  margin-top: 180px;

  width: 480px;

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;
}

.reset-password__heading {
  text-align: center;
  margin: 0;
}

.reset-password__link {
  color: #4C4CFF;
  text-decoration: none;
  transition: all .3s;
}

.reset-password__link:hover {
  opacity: .7;
}

.reset-password__error {
  color: red;
}
